body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.container {
    width: 100%;
    margin: auto;
    
}

.box {
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

.box__column div{
    background-color: #32b2d5;
    padding: 2em;

}

.box__column {
    display: grid;

}
/*Para el responsive se ultiliza la propiedad @media() dentro declaramos como debe actuar, en esa resolución. */
@media(min-width:520px) {
    .box__column{
        grid-template-columns:repeat(2, 1fr);
    }
}

@media(min-width:1024px) {
    .container{
        width: 1024px;
    }
    .box__column{
        grid-auto-rows: minmax(250px, auto);
        grid-template-columns: repeat(3, 1fr);
    }
    .box__column .box:nth-child(2){ 
        /* nth-child() sirve para hacer referecia dependidendo que numero de div sea,
        en caso de que tengan mismo nombre de class, o no tengan class.*/
        /*en este ejercicio, se utiliza nth-child() para dar estilos a las box, 
        que queremos diferenciar de las demás.*/
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }
    .box__column .box:nth-child(3){
        
        grid-row: 2 / 5;

    }
    .box__column .box:nth-child(8){
        
        grid-column: 1 / 4;
    }
}




























